{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}{{ blog.title }}{% endblock %}

{% block body %}
    <article class="blog">
        <header>
            <div class="date"><time datetime="{{ blog.created|date('c') }}">{{ blog.created|date('l, F j, Y') }}</time></div>
            <h2>{{ blog.title }}</h2>
        </header>
        <img src="{{ asset('images/'~blog.image) }}" alt="{{ blog.title }}" class="large" />
        <div>
            <p>{{ blog.content }}</p>
        </div>
    </article>

    <section class="comments" id="comments">
        <section class="previous-comments">
            <h3>Comments</h3>
            {{ include('BloggerBlogBundle:Comment:_comments.html.twig', { 'comments': comments }) }}
        </section>

        <h3>Add Comment</h3>
        {{  render(controller('BloggerBlogBundle:Comment:_newForm', { 'id': blog.id })) }}
    </section>
{% endblock %}
