{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}Add Comment{% endblock%}

{% block body %}
    <h1>Add comment for blog post "{{ comment.blog.title }}"</h1>
    {{ include('BloggerBlogBundle:Comment:_form.html.twig', { 'form': form }) }}
{% endblock %}
